.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
}

.topbox {
  flex: 0 1 auto;
  display: flex;
  padding: 3rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.optionsbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 2em;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 2em;
}

.optionsbox > div {
  width: 50%;
}

.optionsbox > div:nth-child(2) {
  text-align: right;
}
.pageText {
  font-size: 24px;
  font-weight: bold;
}
